<h1>Welcome, <%= @user.first_name %>!</h1>
<div class="pending-container clearfix">
  <h3>Pending Submissions:</h3>
  <%= subs = @user.pieces.joins('LEFT OUTER JOIN submissions ON submissions.piece_id = pieces.id') %>
  <% subs.each do |s| %>
    <%= "Piece " + s.id.to_s %>
  <% end %>
  <table class="pending-table">
    <thead>
      <tr>
        <th>Story</th>
        <th>Journal</th>
        <th>Method</th>
        <th>Date</th>
        <th>(add response)</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
</div>
<div class="todos-container clearfix">
  <h3>To Do:</h3>
  <% unless @user.todos.empty? %>
    <% parent_todos = @user.todos.where("parent_id = id").order("due_at ASC") %>
    <% todos = Array.new %>
    <%
    parent_todos.each do |parent|
      todos << parent
      children = @user.todos.where("parent_id = #{parent.id}")
      children.each do |c|
        todos << c unless c.id == c.parent_id
      end
    end
    %>
    <table class="todos-table">
      <thead>
        <tr>
          <th>Parent ID</th>
          <th>ID</th>
          <th>Title</th>
          <th>(show)</th>
          <th>Due Date</th>
          <th>Due Time</th>
          <th>Done?</th>
        </tr>
      </thead>
      <tbody>
        <%= render todos %>
      </tbody>
    </table>
  <% end %>
  <% #form_for
  %>
</div>
<div style="clear:both">
<pre>
  <%= @user.to_yaml %>  
</pre>
</div>